{
	auto_https disable_redirects
}

(cors) {
  @cors_preflight method OPTIONS
  #@cors header Origin {args.0}
  @cors header Origin *

  handle @cors_preflight {
    header Access-Control-Allow-Origin "*"
    header Access-Control-Allow-Methods "GET,POST,PUT,PATCH,DELETE"
    header Access-Control-Allow-Headers "Content-Type,Authorization,Connection,Upgrade,Sec-WebSocket-Extensions,Sec-WebSocket-Version,Sec-WebSocket-Protocol,Sec-WebSocket-Key"
    header Vary "Access-Control-Request-Headers"
    header Access-Control-Max-Age "3600"
    header Access-Control-Allow-Credentials "true"

    respond "" 204
  }

#  handle @cors {
    header Access-Control-Allow-Origin "*"
    header Access-Control-Allow-Headers "Content-Type,Authorization,Connection,Upgrade,Sec-WebSocket-Extensions,Sec-WebSocket-Version,Sec-WebSocket-Protocol,Sec-WebSocket-Key"
    # header Vary "Access-Control-Request-Headers"
    # header Access-Control-Max-Age "3600"
    header Access-Control-Allow-Credentials "true"
#  }
}

:80 :443 {
	encode gzip

	import cors

	handle_path /api/v1/auth/* {
		rewrite * /twirp/api.auth.AuthenticationService{path}
		reverse_proxy public-auth:14586
	}

	handle_path /api/v1/todo/* {
		rewrite * /twirp/api.todo.TodoService{path}
		reverse_proxy public-todo:14586
	}

	handle_path /wsapi/* {
		reverse_proxy public-websocket:14586
	}
	handle_path /wsapi {
		reverse_proxy public-websocket:14586
	}

	handle {
		root * /home/static
		try_files {path} {file} /index.html
		file_server
	}
}
